
*.sln

*.sdf

AI_ExpertSystem/AI_ExpertSystem.vcxproj

AI_ExpertSystem/AI_ExpertSystem.vcxproj.filters

AI_ExpertSystem/Debug/AI_ExpertSystem.lastbuildstate

*.log

*.tlog

*.obj

*.idb

*.pdb

*.exe

*.ilk
